.clientProfileContent {
  display: flex;
  font-size: 0.7rem;
  padding: 25px;
}

.regularInfoUsuario {
  display: flex;
  justify-content: flex-start;
}

.nombreEmailWrapper {
  padding: 0px 25px;
}

.generalInformationWrapper {
  width: 300px;
}