.list-direccion {
  /* width: 100%; */
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  font-size: 0.8rem;
  text-overflow: ellipsis;
  max-width: 200px;
}

.wrapper-list-direccion {
  margin: 0px;
}

.direccion-actual {
  padding-left: 15px;
}