@import url('https://fonts.googleapis.com/css?family=Comfortaa|Patua+One');
@import './general.css';
@import './loginsignup.css';
@import './header.css';
@import './buttons.css';
@import './custommap.css';
@import './homeclient.css';
@import './direcciones.css';
@import './empresas.css';
@import './producto.css';
@import './comentarios.css';
@import './carrito.css';
@import './clientprofile.css';
@import './ordenes.css';
@import './calificaciones.css';

:root {
    --button-color-main: #ff6a32ba;   
    --border-main: #cdcdcda3;
    --background-header: #f5f5f5ad; 
}

html {
    box-sizing: border-box;
    height: 100%;

}

*, *::before, *::after {
    box-sizing: inherit
}

.clearfix:after {
    content: " ";
    /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

body {
    color: #404040;
    font-family: 'Comfortaa', Arial, sans-serif;
    font-size: 17px;
    line-height: 1.5;
    margin: 0px;
    height: 100%; 
    overflow: hidden;  /*makes the body non-scrollable (we will add scrolling to the sidebar and main content containers)*/
    box-sizing: border-box;


}

a {
    text-decoration: none;
}

h2 {
    color: black;
    margin-top: 5px;
    margin-bottom: 5px;
}

.centered {
    margin: 0 auto;
}

img {
    display: block;
    border: 0;
    width: 100%;
    height: auto;
}

li {
    list-style: none;
}
